* {
  margin: 0;
  padding: 0;
}

input[type=text], input[type=password] {
  width: 200px;
  height: 24px;
  outline: none;
  color: #606266;
  font-size: 14px;
  margin: 0 20px;
  padding: 2px 5px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #e5e6e7;
  background-color: #ffffff;
  transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
}

input[type=checkbox] {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #e5e6e7;
}

button[type=primary] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  padding: 3px 15px;
  border: 1px solid #dcdfe6;
  background-color: #409eff;
}

button[type=primary]:hover {
  color: #ffffff;
  border-color: #79bbff;
  background-color: #79bbff;
}

button[type=primary]:active {
  color: #ffffff;
  border-color: #337ecc;
  background-color: #337ecc;
}

button[disabled],
button[disabled]:hover {
  color: #ffffff;
  cursor: not-allowed;
  border-color: #a0cfff;
  background-color: #a0cfff;
}


select {
  width: 213px;
  height: 30px;
  outline: none;
  color: #606266;
  font-size: 14px;
  margin: 0 20px;
  padding: 2px 5px;
  border-radius: 4px;
  border: 1px solid #e5e6e7;
  background-color: #ffffff;
}

@font-face {
  font-family: OpenSans;
  src: url("../font/Opensans.woff") format("woff");
}

@font-face {
  font-family: PerfectSans;
  src: url("../font/PerfectSans.woff") format("woff");
}

@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.woff') format('woff');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e622";
}

.icon-refresh:before {
  content: "\e621";
}

.icon-close:before {
  content: "\e61b";
}

.icon-home:before {
  content: "\e61c";
}

.icon-minus:before {
  content: "\e61d";
}

.icon-grid:before {
  content: "\e61e";
}

.icon-users:before {
  content: "\e61f";
}

.icon-cog:before {
  content: "\e620";
}
